.container{
    background-color: #132426;
}

.navbar_content{
    display: flex;
    gap: 1.5rem;
    padding: 4rem 1.5rem;
}

.navbar_content a{
    color: #fff;
}

.navbar_content a{
    font-size: 1.6rem;
}
@media (min-width: 768px){
    .navbar_content a{
        font-size: 2.2rem;
    }
}