
.hero {
    border-right: solid 1px #fff;
}

.hero__imagen{
    display: block;
    width: 90%;
    margin: 0 auto;
    margin-bottom: -6.5rem;
    z-index: 9;
}
@media (min-width: 768px){
    .hero__imagen{
        width: 50%;
        margin-bottom: -10rem;
    }
}
@media (min-width: 1024px){
    .hero__imagen{
        width: 50%;
        margin-bottom: -12rem;
    }
}

.wave{
    margin-top: -3px;
}

.header__wave--desktop{
    display: none;
}
@media (min-width: 768px) {
    .header__wave--desktop{
        display: block;
    }
    .header__wave--movil{
        display: none;
    }
}