@import '../components/Hero/hero.css';
@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';

:root{
  --font-primary: 'Inter', sans-serif;
  --font-secundary: 'Antic Slab', serif;

  --color-primary: #16d5ff;
  --color-pink: #FF2E79;
  --color-blue: #008293;
  --color-background-dark: #132426;
  --color-gradient: linear-gradient(270deg, #FF2E79 0%, #BB7DB9 85.72%);
  --color-gris-claro: rgba(196, 196, 196, 0.05);
  --color-white: #fff;
  --text-color: #686868;
  --separador: 5rem;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--font-primary);
}

* {
  box-sizing: border-box;
}

a, p{
  font-size: 1.2rem;
}
@media (min-width: 768px){
  a, p{
    font-size: 1rem;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

h1{
  font-size: 2rem;
}


@media (min-width: 768px){
  h1{
    font-size: 3.5rem;
  }
}
@media (min-width: 1024px){
  h1{
    font-size: 5rem;
  }
}

.content__dark{
  background-color: var(--color-background-dark);
  color: var(--color-white);
}