@import '../components/Hero/hero.module.scss';
@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import "mixins";

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: $font-primary;
}

* {
  box-sizing: border-box;
}

img{
  max-width: 100%;
  display: block;
  height: auto;
}

a, p{
  font-size: 1.6rem;

  @include md{
    font-size: 1.8rem;
  }
}

a {
  color: inherit;
  text-decoration: none;
}


h1{
  font-size: 3rem;

  @include md{
      font-size: 5rem;
  }

  @include lg{
        font-size: 6.4rem;
  }
}

h2{
  font-size: 5rem;
}

h3{
  font-size: 4rem;
}

.container{
  max-width: 140rem;
  width: 90%;
  margin: 0 auto;
}

[class$="__container"]{
  max-width: 140rem;
  width: 90%;
  margin: 0 auto;
}

.container__dark{
  background-color: $color-background-dark;
  color: $color-white;
}

.seccion{
  height: 20vh;
}
